@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tile:hover {
  opacity: 0.5;
}

.tile-wrapper {
  @apply relative overflow-hidden;
}

.tile-wrapper::before {
  background: conic-gradient(
    #00ff0d 0deg,
    rgb(0, 255, 21) 0deg,
    transparent 500deg
  );

  @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
}

.menu-color-option {
  min-width: 20px;
  opacity: 1 !important;
}
