@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tile:hover {
  opacity: 0.5;
}

.tile-wrapper {
  @apply relative overflow-hidden;
}

.tile-wrapper::before {
  background: conic-gradient(
    rgba(244, 114, 182, 0.4) 0deg,
    rgba(192, 132, 252, 0.4) 0deg,
    transparent 80deg
  );
}

.menu-color-option {
  min-width: 20px;
  opacity: 1 !important;
}
